

  <div class="flex items-center justify-center min-h-screen bg-gray-100">

    <div class="bg-white w-full max-w-lg p-10 rounded-2xl shadow-xl">
  
      <h2 class="text-2xl font-bold mb-6 text-center">
        Add Faculty 👨‍🏫
      </h2>
  
      <form action="/add-faculty" method="POST">
  
        <div class="mb-4">
          <input type="text" name="fullName" placeholder="Full Name" required
            class="w-full border-2 rounded-xl px-4 py-3">
        </div>
  
        <div class="mb-4">
          <input type="email" name="email" placeholder="Email" required
            class="w-full border-2 rounded-xl px-4 py-3">
        </div>
  
        <div class="mb-4">
          <input type="text" name="username" placeholder="Username" required
            class="w-full border-2 rounded-xl px-4 py-3">
        </div>
  
        <div class="mb-4">
          <input type="password" name="password" placeholder="Password" required
            class="w-full border-2 rounded-xl px-4 py-3">
        </div>
  
        <div class="mb-4">
          <input type="text" name="department" placeholder="Department" required
            class="w-full border-2 rounded-xl px-4 py-3">
        </div>
  
        <div class="mb-6">
          <input type="text" name="phone" placeholder="Phone"
            class="w-full border-2 rounded-xl px-4 py-3">
        </div>
  
        <button class="w-full bg-blue-950 text-white py-3 rounded-xl">
          Save Faculty
        </button>
  
      </form>
  
    </div>
  
  </div>